.wrapper {
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    z-index: 2;

    .inner {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #000;
        display: flex;

        .logo {
            min-width: 300px;
            max-width: 300px;
            margin-left: 16px;
        }
    }

    .search-area {
        width: 500px;
        height: 46px;
        padding: 12px 16px;
        margin: 0 8px;
        background-color: rgba(22, 24, 35, 0.06);
        border: 1.5px solid transparent;
        border-radius: 92px;
        position: relative;
        display: flex;

        .search-input {
            width: 391px;
            height: 22px;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 400;
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            line-height: 21px;
            letter-spacing: 0.03px;
            color: rgba(22, 24, 35, 1);
            caret-color: var(--primary);
            align-items: center;
            background-color: transparent;
        }

        .clear-btn,
        .loading {
            font-size: 16px;
            color: rgb(167 167 171);
            border: none;
            outline: none;
        }

        .loading {
            display: none;
        }

        .clear-btn {
            width: 40px;
            height: 15.67px;
            border: none;
            align-items: center;
            margin-top: 3px;
        }

        .search-btn {
            font-size: 20px;
            width: 52px;
            height: 46px;
            color: rgb(167 167 171);
            padding: 11px 16px 11px 12px;
            margin: -12px -16px -12px -1.5px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;

            &::before {
                content: '';
                top: 9px;
                left: 0;
                width: 1px;
                height: 28px;
                background-color: rgba(0, 0, 0, 0.12);
                position: absolute;
            }
        }

        &:hover {
            .search-btn {
                background-color: rgb(228 228 230);
                border-top-right-radius: 92px;
                border-bottom-right-radius: 92px;
            }

            border: 1.5px solid rgb(197 198 201);
        }

        &:focus-within {
            border: 1.5px solid rgb(197 198 201);
        }
    }
}

.search-result {
    .title {
        width: 500px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        line-height: 18px;
        letter-spacing: 0.093px;
        padding: 5px 12px;
    }
}

.action {
    display: flex;
    margin-right: 24px;
    align-items: center;

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-bottom: -4px;
    }

    .list-icon {
        padding: 3px 5px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        cursor: pointer;
    }

    .message {
        width: 32px;
        height: 32px;
        font-size: 20px;
        margin-left: 16px;
        padding: 3px 0;
        border: none;
        background-color: #fff;
        cursor: pointer;
    }

    .inbox {
        width: 32px;
        height: 32px;
        font-size: 32px;
        margin-left: 16px;
        border: none;
        background-color: #fff;
        cursor: pointer;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 2px -10px 2px 24px;
        cursor: pointer;
    }
}

.more {
    max-width: 233px;
    cursor: pointer;
}

.message-result,
.inbox-result {
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px;
}
